* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* STYLES FOR INDEX(MAIN) PAGE */

#navigation {
    margin-top: 64px;
    text-align: center;
}

.nav_link {
    background-color: rgb(153, 12, 12);
    color: rgb(214, 232, 255);
    font-size: 18px;
    padding: 8px 24px;
}

/* END OF STYLES FOR INDEX */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(214, 232, 255);
}

h1 {
    font-size: 64px;
    margin-block: 24px;
    text-align: center;
}

.main {
    width: 70%;
    margin: 0 auto;
}

.main .sections {
    padding: 16px;
}

h1, h3 {
    color: rgb(153, 12, 12);
}

h3 {
    font-size: 32px;
}

p, li {
    margin-top: 12px;
    text-align: justify;
}

img {
    display: block;
    border: 7px solid #000;
    height: auto;
    width: 520px;
    margin: 16px auto;
}