body {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(214, 232, 255);
    text-align: center;
}

h1 {
    color: rgb(153, 12, 12);
    font-size: 64px;
}

/* STYLES FOR INDEX(MAIN) PAGE */

.nav_link {
    background-color: rgb(153, 12, 12);
    color: rgb(214, 232, 255);
    font-size: 18px;
    padding: 8px 24px;
}

h3 {
    font-size: 32px;
}

img {
    height: auto;
    width: 520px;
}